<footer id="footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-3">
          <h4 class="footer-list-heading">联系方式</h4>
            <nav>
              <ul>
                <li><a href="http://weibo.com/u/2709416257" target="_blank" rel="nofollow">新浪微博</a></li>
                <li><a href="mailto:a309871271@gmail.com?subject=你好,Anybfans">Gmail</a></li>
                <li><a href="https://github.com/Peterpig" target="_blank" rel="nofollow">GitHub</a></li>
              </ul>
            </nav>
          </div>

          <div class="col-lg-2">
            <h4 class="footer-list-heading">站点导航</h4>
            <nav>
              <ul>
                <li><a href="http://beginman.cn/" target="_blank">另一个Blog</a></li>
                <li><a href="http://www.cnblogs.com/BeginMan/"  target="_blank">博客园Blog</a></li>
                <li><a href="/about/" target="_blank">About.</a></li>
              </ul>
            </nav>
          </div>



          <div class="col-lg-7">
            <h4 class="footer-list-heading"><a href="/pigeonhole/">博客归档</a></h4>

          </div>
        </div>
      </div>
    </footer>