{% extends 'base.html' %}
{% block css %}
<style>
body {
	background:url(/site_media/img/bg3.jpg);
    background-position: 0 0; /* 元素的左上角 */
    background-repeat: no-repeat; /* 不平铺。图片只展示一次。 */
    background-attachment: fixed;
    background-color: #999;
    background-size: cover;
}
</style>
{% endblock %}
{% block content %}
<div class="alert alert-danger">
<code>Anybfans</code>，喜欢编程工作，现在从事Python/Django开发。
    <hr/>
    <p>weibo: <a href="http://weibo.com/u/2709416257" target="_blank">http://weibo.com/u/2709416257</a></p>
    <p>GitHub: <a href="https://github.com/Peterpig" target="_blank">https://github.com/Peterpig</a></p>
    <p>邮箱： <a href="#">a309871271@gmail.com</a></p>
    <p class="small_hr">本站搭建在新浪SAE,图片存储在七牛云，采用Django1.5+Python2.7+Mysql开发</p>
    <hr/>
<p><b>无论现在多么艰苦，我依然昂首向前！</b></p>
</div>
{% endblock %}
